<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="JDK_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="org.mth.sqlite.Folder" alias="Folder"/>
        <typeAlias type="org.mth.sqlite.FileExtension" alias="FileExtension"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="${url}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/mth/sqlite/folder_mapper.xml"/>
        <mapper resource="org/mth/sqlite/extension_mapper.xml"/>
    </mappers>

</configuration>
