<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="extensions">
    <resultMap id="ExtensionMap" type="FileExtension">
        <id column="id" javaType="int" property="id"/>
        <result column="extension" javaType="string" property="extension"/>
    </resultMap>

    <select id="select-all-extensions" resultMap="ExtensionMap">
        SELECT id, extension FROM Extensions
        ORDER BY id ASC
    </select>

    <select id="select-count-extension" parameterType="string" resultType="int">
        SELECT COUNT() FROM Extensions
        WHERE extension = '${extension}'
    </select>

    <select id="select-by-extension" parameterType="string" resultMap="ExtensionMap">
        SELECT id, extension FROM Extensions
        WHERE extension = '${value}'
    </select>

    <insert id="link-to-folder" statementType="PREPARED" parameterType="java.util.Map">
        INSERT INTO Folder_To_Extension
        (folder_id, extension_id)
        VALUES (#{folder_id}, #{extension_id})
    </insert>

    <insert id="insert" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Extensions (extension)
        VALUES ( #{extension} )
    </insert>
    <!--    <select id="select-all" resultMap="PublisherMap" parameterType="string">-->
    <!--        SELECT name FROM Publishers-->
    <!--        ${value}-->
    <!--        ORDER BY name COLLATE NOCASE ASC-->
    <!--    </select>-->


    <!--    <select id="select-by-id" resultMap="PublisherMap">-->
    <!--        SELECT id, name-->
    <!--        FROM Publishers-->
    <!--        WHERE id = #{id}-->
    <!--    </select>-->

    <!--    <select id="select-by-name" resultMap="PublisherMap">-->
    <!--        SELECT id, name-->
    <!--        FROM Publishers-->
    <!--        WHERE name = #{name}-->
    <!--    </select>-->

    <!--    <insert id="insert" statementType="PREPARED" parameterType="Publisher" useGeneratedKeys="true" keyProperty="id">-->
    <!--        INSERT INTO Publishers (name)-->
    <!--        VALUES ( #{name} )-->
    <!--    </insert>-->

    <!--    <delete id="delete" statementType="STATEMENT" parameterType="Publisher">-->
    <!--        DELETE FROM Publishers-->
    <!--        WHERE id = #{id}-->
    <!--    </delete>-->

    <!--    <select id="generic-sql" parameterType="string" resultMap="PublisherMap">-->
    <!--        ${sql}-->
    <!--    </select>-->
</mapper>