<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="folders">

    <resultMap id="FolderMap" type="Folder">
        <id column="id" javaType="int" property="id"/>
        <result column="path" javaType="string" property="path"/>
        <result column="recursive" property="recursive" javaType="short"/>
    </resultMap>


    <select id="select-all-folders" resultMap="FolderMap">
        SELECT id, path, recursive FROM Folders
        ORDER BY id ASC
    </select>


    <select id="select-by-path" resultMap="FolderMap" parameterType="string">
        SELECT id, path, recursive FROM Folders
        WHERE path = '${path}'
    </select>


    <select id="select-all-paths" resultType="string">
        SELECT path FROM Folders
    </select>

    <select id="select-associated-extensions" statementType="PREPARED" parameterType="Folder"
            resultMap="extensions.ExtensionMap">
        SELECT E.id, E.extension FROM "Extensions" E
        INNER JOIN "Folder_To_Extension" FxE ON FxE.extension_id = E.id
        WHERE FxE.folder_id = #{id}
    </select>

    <insert id="insert-path" keyProperty="id" useGeneratedKeys="true" parameterType="Folder">
        INSERT INTO Folders (path, recursive)
        VALUES ( #{path}, #{recursive} )
    </insert>

    <update id="update-folder" parameterType="Folder" statementType="PREPARED">
        UPDATE Folders SET
        path = #{path},
        recursive = #{recursive}
        WHERE id = #{id}
    </update>

    <delete id="delete-all-associated-extensions" parameterType="Folder" statementType="PREPARED">
        DELETE FROM Folder_To_Extension
        WHERE folder_id = #{id}
    </delete>

</mapper>